PORT=4000
NODE_ENV=development
JWT_SECRET=supersecretdkjudicial2026
JWT_EXPIRES_IN=2h
TWILIO_ACCOUNT_SID=your_twilio_account_sid
TWILIO_AUTH_TOKEN=your_twilio_auth_token
TWILIO_FROM_NUMBER=+14155550123
TARGET_PHONE_NUMBER=+543644369163
STRIPE_SECRET_KEY=sk_test_yourkey
BASE_URL=http://localhost:4000
